.container2 {
    margin-top: 100px;
    margin-left: 37px;
}

.fieldName {
    font-weight: bold;
    margin: 10px 10px;
}

.fieldValue {

}

.completeProfile {
    padding: 10px 20px;
    color: white;
    background-color: green;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-left: 10px;
    margin-top: 20px;
}

.completeProfile:hover {
    background-color: lightgreen;
    color:grey;
}