.container2{
    display: flex;
    height: 500px;
    width: 800px;
    margin: auto;
    margin-top: 100px;
}

.spinner {
    position: absolute;
    top: 32%;
    left: 50%;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: whitesmoke;
}

.form h2 {
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 40px;
}

.box {
    padding: 12px;
    width: 65%;
    margin: 15px;
    border: 1px solid black;
    outline: none;
    border-radius: 20px;
}

.a {
    text-decoration: none;
    color: black;
    margin-top: 20px;
}

.a:hover {
    color: #fd4e4e
}

.submit {
    padding: 12px 30px;
    width: 40%;
    margin-top: 40px;
    background-color: green;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 20px;
}

.submit:hover {
    cursor: pointer;
    background-color: #750000;
}

.side {
    display: flex;
    justify-content: center;
    align-items: center;
}

.side img {
    width: 450px;
    height: 498px;
}